@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.faded-bg {
    background: linear-gradient(116.43deg, rgba(255, 255, 255, 0.3) -11.75%, rgba(255, 255, 255, 0) 108.53%);
}

.search-grid {
    display: grid;
    grid-template-columns: 1fr 48px;
}

.container-height {
    min-height: 60vh;
}

.green-underline {
    text-decoration-color: #b8cf7c;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.125rem;
}

.green-underline-title {
    text-decoration-color: #b8cf7c;
    text-underline-offset: 6px;
    text-decoration-thickness: 0.5rem;
}

.max-width-033 {
    max-width: 33%;
}

.input-button {
    display: block;
    height: 3em;
    width: 3em;
    background: url('../public/upload_image.svg');
    background-size: contain;
    cursor: pointer;
}

.input-button:hover {
    opacity: 0.75;
    pointer-events: all;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* -webkit-user-modify: read-write !important; */
    /* height: 28px; */
    height: 1em;
    width: 1em;
    background: url('../public/clear_button.png');
    background-size: contain;
}

input[type='search']:hover::-webkit-search-cancel-button {
    opacity: 0.85;
    pointer-events: all;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: 16px;
    background-color: #121212; /*bg-beatsBlack-900 */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
